* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem = 10px;
  // overflow: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main__content {
  width: 70%;
  margin: 0 auto;
}

.item-name {
  font-family: Jost-Medium, sans-serif;
  font-size: $textFormat;
  color: $descText;
  padding-bottom: 1rem;
}

.item-price {
  font-family: Jost-Bold, sans-serif;
  font-size: $textFormat;
  color: $mainDark;
  padding-right: 0.7rem;
}

.btn {
  cursor: pointer;
  background: none;
  border: none;
}

.display-none {
display: none;  
}

.to__card {
  @include flex(space-between, center, row);
  width: 100%;

  .card-add {
    @include textFormater;
    font-family: Jost-Bold, sans-serif;
    text-transform: uppercase;
  }

  .card__add__icons {
    padding-right: 2rem;
    @include flex(space-between, center, row);
  }

  .search-space-icon {
    margin-right: 2.4rem;
  }

  .icon-click {
    cursor: pointer;
  }
}
