.header__section {
  min-height: $headerH;
  background-image: url("https://via.placeholder.com/1920x550");
  background-position: center;
  background-repeat: no-repeat;

  .header {
    padding: 3.7rem 0;
    position: relative;

    .burger {
      display: none;
    }

    &__logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &__image {
        min-width: 11.7rem;
        min-height: 2.2rem;
      }
    }

    .header__navigation {
      @include flex(space-between, center, row);

      .navigation__list {
        max-width: $navListW;
        @include flex(space-between, center, row);

        .nav-link {
          margin-right: 2rem;
          font-family: Jost-Medium, sans-serif;
          font-size: $fontNav;
          color: $mainDark;
          @include underlineTransition;
        }
      }

      .header__user {
        @include flex(flex-end, center, row);

        .user__icon {
          margin-right: 2rem;
          cursor: pointer;
        }

        .user__basket {
          @include flex(flex-end, center, row);
          cursor: pointer;

          .basket__value {
            margin-left: 0.7rem;
            position: relative;
            height: 1.6rem;

            .items__value {
              color: #ffffff;
              font-family: Jost-Bold, sans-serif;
              font-size: 10px;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
  }
}
